body {
  background: rgba(255, 255, 255, 1);
  background: linear-gradient(135deg, rgba(255, 255, 255, 1) 0%, rgba(224, 221, 224, 1) 47%, rgba(184, 184, 184, 1) 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffffff', endColorstr='#b8b8b8', GradientType=1);
}

.langContainer{
  display: flex;
  align-items: center;
  img{
    height: 35px;
    margin-right: 10px;
    cursor: pointer;
  }
}
.zipCodeCont {
  display: flex;
  justify-content: center;
  align-items: center;
  height: calc(100vh - 51px);
  //width: 100vw;
  .zipCodeCont_body {
    padding: 20px;
    padding-top: 10px;
    display: flex;
    width: 40%;
    min-width: 320px;
    @media screen and (max-width: 1024px) {
      width: 100%;
    }
    .zipCodeCont_body_list {
      width: 100%;
      margin-right: 20px;
      .zipCodeCont_body_list_searchErrors {
        display: flex;
        justify-content: flex-start;
        height: 15px;
        margin: 5px 4px 5px 5px;
        span {
          font-size: 12px;
          font-family: "Helvetica Neue", Helvetica;
          color: #c73827;
        }
      }
      .zipCodeCont_body_list_search_container_wrapper {
        display: flex;
        .zipCodeCont_body_list_search_container {
          width: 100%;
          position: relative;
          .zipCodeCont_body_list_search {
            position: relative;
            min-height: 20px;
            padding: 7px 0px 5px 35px;
            font-size: 12px;
            line-height: 15px;
            font-family: "Helvetica Neue", Helvetica;
            border: 1px solid #cccccc;
            border-radius: 5px;
            width: 100%;
            resize: none;
            -webkit-appearance: none;
            outline: 0px !important;
            color: #2C3642;
            &::placeholder {
              color: #8A8A8A;
              font-size: 12px;
              font-weight: 500;
              font-family: "Helvetica Neue", Helvetica;
            }
            &:hover, &:focus {
              border-color: #47d070;
            }
          }
          .zipCodeCont_body_list_search_img {
            position: absolute;
            top: 9px;
            left: 12px;
            width: 15px;
          }
        }
        .zipCodeCont_body_list_search_container_wrapper_btn {
          display: flex;
          justify-content: center;
          align-items: center;
          background-color: #35cb6a;
          height: 34px;
          margin-left: 10px;
          border-radius: 6px;
          width: 150px;
          cursor: pointer;
          z-index: 99;
          span {
            font-size: 12px;
            font-family: "Helvetica Neue", Helvetica;
            color: white;
          }
        }
      }

      .zipCodeCont_body_list_items_container {
        border-radius: 5px;
        margin-top: 10px;
        background-color: #FFFFFF;
        box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.3);
        padding: 9px 13px 7px 13px;
        position: relative;
        overflow-y: auto;
        max-height: 490px;
        min-height: 40px;
        position: relative;
        .zipCodeCont_body_list_items_container_preloader {
          position: absolute;
          top: 0;
          left: 0;
          height: 100%;
          width: 100%;
          z-index: 1;
          background-color: rgba(255, 255, 255, 0.85);
          border-radius: 5px;
        }
        .zipCodeCont_body_list_items_container_transparent {
          position: absolute;
          top: 0;
          left: 0;
          width: 100%;
          height: 100%;
          border-radius: 5px;
          background-color: rgba(255, 255, 255, 0.74);
        }
        .zipCodeCont_body_list_item {
          cursor: pointer;
          border-bottom: 1px solid #eeeeee;
          display: flex;
          align-items: center;
          padding: 5px 2px;
          border-radius: 4px;
          transition: all ease 0.2s;
          justify-content: space-between;
          &:hover {
            background-color: #44e081;
          }
          &:last-of-type {
            border: none !important;
          }
          .itemLeft {
            display: flex;
            align-items: center;
            .zipCodeCont_body_list_item_logo {
              display: flex;
              justify-content: center;
              align-items: center;
              flex-shrink: 0;
              margin-right: 8px;
              img {
                border-radius: 6px;
                width: 30px;
                height: 30px;
              }
            }
            .zipCodeCont_body_list_item_text {
              span {
                color: #2C3642;
                font-family: "Helvetica Neue", Helvetica;
                font-size: 12px;
                font-weight: bold;
              }
            }
          }
          .itemRemove {
            color: #c73827;
            font-family: "Helvetica Neue", Helvetica;
            font-size: 12px;
            margin-right: 5px;
            font-weight: bold;
            &:hover {
              cursor: pointer;
              text-decoration: underline;
            }
          }
        }
      }
    }
  }
}

.preloaderContainer {
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  .loader {
    border: 10px solid #dddbdb;
    border-radius: 50%;
    border-top: 10px solid #40b75b;
    -webkit-animation: spinRd 1.1s linear infinite; /* Safari */
    animation: spinRd 1.1s linear infinite;

    // spiner animation
    @keyframes spinRd {
      0% {
        transform: rotate(0deg);
      }
      100% {
        transform: rotate(360deg);
      }
    }
    /* Safari */
    @-webkit-keyframes spinRd {
      0% {
        -webkit-transform: rotate(0deg);
      }
      100% {
        -webkit-transform: rotate(360deg);
      }
    }
  }
}
